body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333333;
    font-size: 16px;
    margin: 20px;
}
h1 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    color: #34495e;
    margin-top: 30px;
}

h3 {
    color: #555;
}


img {
    width: 200px;
    height: 200px;
    display: block;
    margin-bottom: 20px;
}


button {
    background-color: #3498db;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}


input {
    padding: 5px;
}
